<!DOCTYPE HTML>
<html>
    <head>
        <script src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    </head>
    <body>
        <div id="wrapper">
            <form>
                Car Make: <input type="text" name="make">
                Car Model: <input type="text" name="model">
                Year: <input type="text" name="year">
                Color: <input type="text" name="color">
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>